{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
</head>
<body>
    <div class="container" style="margin-top: 1%;margin-bottom: 1%;">
        <div class="row">
            <div class="col-sm-1" onclick="location.href='/youtube_comment'">
                <img class="img-responsive" src="{% static 'img/youtube_logo.png' %}">
            </div>
            {% if category%}
            <div class="col category-title" onclick="location.href='/youtube_comment/detail?category={{category.id}}'">
                <span style="vertical-align: middle;">인기 급상승 > {{category.category}}</span>
            </div>
            {% else %}
            <div class="col category-title" onclick="location.href='/youtube_comment/detail/'">
                <span style="vertical-align: middle;">인기 급상승</span>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="container bottom-line">
        <div class="row">
            {% for category in category_list %}
            <div class="col-sm-1 category-tab" onclick="location.href='/youtube_comment/detail?category={{category.id}}'" style="vertical-align: middle;">
                <span style="vertical-align: middle;">{{category.category}}</span>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        {% if video_list%}
        {% for video, comment_list, keyword_list in video_list %}
            <div class="row inner bottom-line">
                <div class="col-4" onclick="location.href='{{ video.url }}'">
                    <img class="img-responsive" src="{{ video.thumbnail_url }}">
                </div>
                <div class="col-8">
                    <div class="container">
                        <div class="row">
                            <div class="video-title" onclick="location.href='{{ video.url }}'">{{video.title}}</div>
                        </div>
                        <div class="row inner">
                            <div class="text-field"><strong>조회수: </strong>{{video.count_of_view}}</div>
                            <div class="text-field"><strong>댓글 수: </strong>{{video.count_of_comment}}</div>
                        </div>
                        <div class="row inner">
                            <div>
                                {% for keyword in keyword_list %}
                                <button type="button" class="btn btn-primary" disabled>{{ keyword }}</button>
                                {% endfor %}
                            </div>
                        </div>
                        
                        <div class="row accordion" id="commentList-{{forloop.counter}}">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="commentItem-{{forloop.counter}}">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#commentDetail-{{forloop.counter}}" aria-expanded="true" aria-controls="commentDetail-{{forloop.counter}}">
                                    <span>수집한 댓글 ({{ comment_list|length }} 개)</span>
                                </button>
                                </h2>
                                <div id="commentDetail-{{forloop.counter}}" class="accordion-collapse collapse show" aria-labelledby="commentItem-{{forloop.counter}}" data-bs-parent="#commentList-{{forloop.counter}}">
                                <div class="accordion-body comment-list">
                                    {% if comment_list|length > 0 %}
                                    {% for comment in comment_list %}
                                    <div class="text-field inner bottom-line">{{comment.comment}}</div>
                                    {% endfor %}
                                    {% else %}
                                    <span>댓글을 수집할 수 없습니다.</span>
                                    {% endif %}
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <p style="text-align: center; margin-top: 1%;">동영상을 찾을 수 없습니다.</p>
        {% endif %}
    </div>
</body>
</html>
