.category-title {
    font-weight: bold;
    text-align: center;
}

.category-tab {
    font-weight: bold;
    text-align: center;
}

.video-title {
    font-weight: bold;
}

.img-responsive {
    width: 100%;
}
